<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <title>Car Man</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!-- Optional: For better mobile display -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="title">
        Design 
    </div>

     <!-- Navbar -->
     <div class="navbar">
        <a href="{{ url_for('home') }}" data-page="home">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="Home Icon"> Home
        </a>
        <a href="{{ url_for('design') }}" data-page="design">
        <img src="{{ url_for('static', filename='design.png') }}" alt="Design Icon"> Design
        </a>
        <a href="{{ url_for('signout') }}" data-page="signout">
        <img src="{{ url_for('static', filename='signout.png') }}" alt="signout Icon"> Signout
        </a>
    </div>

<div class="container mt-5">
    <h3 class="mb-4">Design Improvement</h3>

    <!-- Start of the Form -->
    <form action="/design" method="post">
        <!-- Name Field -->
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="John Doe">
        </div>

        <!-- Email Field -->
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="message" name="email" rows="4" placeholder="myemail@rwo.nz">
        </div>

        <!-- Message Textarea -->
        <div class="form-group">
            <label for="message">Design Change</label>
            <textarea class="form-control" id="message" name="message" rows="4" placeholder="Design Change..."></textarea>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <!-- End of the Form -->
</div>

<!-- jQuery library (required for Bootstrap's JavaScript) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
        navigator.serviceWorker.register('{{ url_for("static", filename="service-worker.js") }}')
        .then(registration => {
            console.log('Service Worker registered with scope:', registration.scope);
        })
        .catch(err => {
            console.log('Service Worker registration failed:', err);
        });
    });
}

</script>

<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.5.0/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.5.0/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
  
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyBa9igh97S9IYqLZzMiN_EjONg1P0VS2tI",
      authDomain: "carman-d44ae.firebaseapp.com",
      projectId: "carman-d44ae",
      storageBucket: "carman-d44ae.appspot.com",
      messagingSenderId: "184818382900",
      appId: "1:184818382900:web:9f84f3fb7c2d98ae68b261",
      measurementId: "G-V8BS9BKMQ3"
    };
  
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
  </script>

</body>
</html>
